In [14]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("dea_data.csv")

In [4]:
df.head()

,Gene,Control1,Control2,Control3,Control4,Control5,Control6,Control7,Control8,Control9,...,Treatment16,Treatment17,Treatment18,Treatment19,Treatment20,Treatment21,Treatment22,Treatment23,Treatment24,Treatment25
0,Gene1,56,97,19,76,65,25,87,91,79,...,55,59,68,7,55,11,25,77,43,22
1,Gene2,8,93,64,18,13,94,57,6,88,...,91,66,44,89,84,86,57,28,30,93
2,Gene3,64,45,33,19,49,69,93,75,13,...,82,7,5,9,94,18,31,13,83,19
3,Gene4,94,46,81,55,67,56,8,98,27,...,74,76,31,13,66,41,55,48,28,83
4,Gene5,63,36,92,56,66,62,56,16,43,...,77,63,74,84,97,7,24,63,40,23

In [10]:
control=[col for col in df.columns if "Control" in col]
treatment=[col for col in df.columns if "Treatment" in col]

In [12]:
df['Mean_Control'] = df[control].mean(axis=1)
df['Mean_Treatment'] = df[treatment].mean(axis=1)

In [17]:
df['Log2FC']=np.log2(df["Mean_Treatment"]/ df["Mean_Control"])

In [23]:
def classify_gene(log2fc):
    if log2fc >= 1:
        return 'Upregulated'
    elif log2fc <= -1:
        return 'Downregulated'
    else:
        return 'Not significant'

df['Status'] = df['Log2FC'].apply(classify_gene)

In [24]:
result_df = df[['Gene', 'Mean_Control', 'Mean_Treatment', 'Log2FC', 'Status']]
print(result_df.head())

    Gene  Mean_Control  Mean_Treatment    Log2FC           Status
0  Gene1         53.52           54.88  0.036202  Not significant
1  Gene2         47.08           63.28  0.426635  Not significant
2  Gene3         45.16           47.92  0.085582  Not significant
3  Gene4         51.44           53.56  0.058265  Not significant
4  Gene5         48.04           53.24  0.148274  Not significant