# 09.18 Practical Pandas

In [4]:
import pandas as pd

## Series

In [7]:
s1=pd.Series([1,2,3])
s1

0    1
1    2
2    3
dtype: int64

In [8]:
s2= pd.Series([1,2,3], index=['b','c','d'])
s2

b    1
c    2
d    3
dtype: int64

## DataFrame

### Method 01

In [9]:
data= {'Name': ['Alice', 'Bob','Nimal'],'Age':[25,30,22]}
df=pd.DataFrame(data)
df

    Name  Age
0  Alice   25
1    Bob   30
2  Nimal   22