In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df= pd.read_csv("dna_samples.csv")

In [6]:
df.head()

   Number  SampleID    DNASequence
0       1         1  TX11ZAXZGA21N
1       2         2      TATAGGACG
2       3         3   CTACTGCTGGGG
3       4         4       TTGCAGGT
4       5         5  ZN2CNCX1CZ1CN

In [11]:
def is_valid_sequence(seq) :
    for i in seq:
        if i not in ["A","T","G","C"]:
            return False
    return True

df["Valid"]= df["DNASequence"].apply(is_valid_sequence)
df.head()

   Number  SampleID    DNASequence  Valid
0       1         1  TX11ZAXZGA21N  False
1       2         2      TATAGGACG   True
2       3         3   CTACTGCTGGGG   True
3       4         4       TTGCAGGT   True
4       5         5  ZN2CNCX1CZ1CN  False

In [13]:
clean_df= df[df["Valid"]== True].drop(columns=["Valid"]).reset_index(drop=True)
clean_df.head()

   Number  SampleID     DNASequence
0       2         2       TATAGGACG
1       3         3    CTACTGCTGGGG
2       4         4        TTGCAGGT
3       6         6  ATTATGGGTGACTT
4       7         7      ACTGGGGAAG

In [15]:
countA_list = []
countT_list = []
countG_list = []
countC_list = []
length_list = []
gc_percent_list = []

In [ ]:
df.iterrows